langchain
langchain-google-genai
langchain_openai
pillow
python-dotenv
pypdf
chromadb
faiss-cpu
langchainhub
numexpr
fastapi
uvicorn
python-multipart
unstructured
docx2txt
python-pptx
openpyxl
PyJWT==2.8.0 
requests==2.31.0 
python-decouple==3.8 
pydantic[email] 
SQLAlchemy 
passlib 
psycopg2-binary 
bcrypt